<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/salarydata?characterEncoding=UTF8" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource"><ref local="dataSource"/></property>
		<property name="mappingResources">
			<list>
				<value>com/salary/entity/hbm/Account.hbm.xml</value>
				<value>com/salary/entity/hbm/Author.hbm.xml</value>
				<value>com/salary/entity/hbm/Department.hbm.xml</value>
				<value>com/salary/entity/hbm/Employee.hbm.xml</value>
				<value>com/salary/entity/hbm/Operator.hbm.xml</value>
				<value>com/salary/entity/hbm/Role_author.hbm.xml</value>
				<value>com/salary/entity/hbm/Role.hbm.xml</value>
				<value>com/salary/entity/hbm/Salary_detail.hbm.xml</value>
				<value>com/salary/entity/hbm/Salary_item_expression.hbm.xml</value>
				<value>com/salary/entity/hbm/Salary_item_unit.hbm.xml</value>
				<value>com/salary/entity/hbm/Salary_item.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>

	
	<!-- 测试用 -->
	<bean id="testAction" class="com.salary.action.testAction">
		<property name="crudDaoimpl" ref="crudDaoimpl" />
	</bean>
	
	
	<!-- Dao层 -->
	<bean id="crudDaoimpl" class="com.salary.dao.CRUDDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="accountDaoimpl" class="com.salary.dao.AccountDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="departmentDaoimpl" class="com.salary.dao.DepartmentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="employeeDaoimpl" class="com.salary.dao.EmployeeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="salary_detailDaoimpl" class="com.salary.dao.Salary_detailDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="salary_item_expressionDaoimpl" class="com.salary.dao.Salary_item_expressionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="salary_item_unitDaoimpl" class="com.salary.dao.Salary_item_unitDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="salary_itemDaoimpl" class="com.salary.dao.Salary_itemDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="authorDaoimpl" class="com.salary.dao.AuthorDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="operatorDaoimpl" class="com.salary.dao.OperatorDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="role_authorDaoimpl" class="com.salary.dao.Role_authorDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="roleDaoimpl" class="com.salary.dao.RoleDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	
	
	
	<!-- Service层 -->
	<bean id="accountService" class="com.salary.service.AccountService">
		<property name="accountDaoimpl" ref="accountDaoimpl" />
		<property name="crudDaoimpl" ref="crudDaoimpl" />
	</bean>
	
	<bean id="crudService" class="com.salary.service.CRUDService">
		<property name="crudDaoimpl" ref="crudDaoimpl" />
	</bean>
	
	<bean id="departmentService" class="com.salary.service.DepartmentService">
		<property name="departmentDaoimpl" ref="departmentDaoimpl" />
		<property name="crudDaoimpl" ref="crudDaoimpl" />
	</bean>
	
	<bean id="employeeService" class="com.salary.service.EmployeeService">
		<property name="employeeDaoimpl" ref="employeeDaoimpl" />
		<property name="crudDaoimpl" ref="crudDaoimpl" />
	</bean>
	
	<bean id="salary_detailService" class="com.salary.service.Salary_detailService">
		<property name="salary_detailDaoimpl" ref="salary_detailDaoimpl" />
		<property name="crudDaoimpl" ref="crudDaoimpl" />
	</bean>
	
	<bean id="salary_item_expressionService" class="com.salary.service.Salary_item_expressionService">
		<property name="salary_item_expressionDaoimpl" ref="salary_item_expressionDaoimpl" />
		<property name="crudDaoimpl" ref="crudDaoimpl" />
	</bean>
	
	<bean id="salary_item_unitService" class="com.salary.service.Salary_item_unitService">
		<property name="salary_item_unitDaoimpl" ref="salary_item_unitDaoimpl" />
		<property name="crudDaoimpl" ref="crudDaoimpl" />
	</bean>
	
	<bean id="salary_itemService" class="com.salary.service.Salary_itemService">
		<property name="salary_itemDaoimpl" ref="salary_itemDaoimpl" />
		<property name="crudDaoimpl" ref="crudDaoimpl" />
	</bean>
	
	<bean id="authorService" class="com.salary.service.AuthorService">
		<property name="authorDaoimpl" ref="authorDaoimpl" />
		<property name="crudDaoimpl" ref="crudDaoimpl" />
	</bean>
	<bean id="operatorService" class="com.salary.service.OperatorService">
		<property name="operatorDaoimpl" ref="operatorDaoimpl" />
		<property name="crudDaoimpl" ref="crudDaoimpl" />
	</bean>
	<bean id="role_authorService" class="com.salary.service.Role_authorService">
		<property name="role_authorDaoimpl" ref="role_authorDaoimpl" />
		<property name="crudDaoimpl" ref="crudDaoimpl" />
	</bean>
	<bean id="roleService" class="com.salary.service.RoleService">
		<property name="roleDaoimpl" ref="roleDaoimpl" />
		<property name="crudDaoimpl" ref="crudDaoimpl" />
	</bean>
	
	
	
	
	
	<!-- Action层 -->
	<bean id="accountAction" class="com.salary.action.AccountAction">
		<property name="accountService" ref="accountService" />
	</bean>
	
	<bean id="departmentAction" class="com.salary.action.DepartmentAction">
		<property name="departmentService" ref="departmentService" />
	</bean>
	
	<bean id="employeeAction" class="com.salary.action.EmployeeAction">
		<property name="employeeService" ref="employeeService" />
		<property name="departmentService" ref="departmentService" />
		<property name="salary_item_unitService" ref="salary_item_unitService" />
	</bean>
	
	<bean id="salarydetailAction" class="com.salary.action.SalarydetailAction">
		<property name="salary_detailService" ref="salary_detailService" />
		<property name="salary_itemService" ref="salary_itemService" />
		<property name="accountService" ref="accountService" />
		<property name="employeeService" ref="employeeService" />
		<property name="salary_item_unitService" ref="salary_item_unitService" />
		<property name="salary_item_expressionService" ref="salary_item_expressionService" />
	</bean>
	
	<bean id="salaryitemAction" class="com.salary.action.SalaryitemAction">
		<property name="salary_itemService" ref="salary_itemService" />
	</bean>
	
	<bean id="salaryitemexpressionAction" class="com.salary.action.SalaryitemexpressionAction">
		<property name="salary_item_expressionService" ref="salary_item_expressionService" />
		<property name="salary_itemService" ref="salary_itemService" />
	</bean>
	
	<bean id="salaryitemunitAction" class="com.salary.action.SalaryitemunitAction">
		<property name="salary_item_unitService" ref="salary_item_unitService" />
		<property name="salary_item_expressionService" ref="salary_item_expressionService" />
	</bean>
	
	<bean id="operatorAction" class="com.salary.action.OperatorAction">
		<property name="operatorService" ref="operatorService" />
		<property name="roleService" ref="roleService" />
		<property name="role_authorService" ref="role_authorService" />
	</bean>
	
	<bean id="roleauthorAction" class="com.salary.action.RoleauthorAction">
		<property name="role_authorService" ref="role_authorService" />
		<property name="roleService" ref="roleService" />
	</bean>
	
	<bean id="roleAction" class="com.salary.action.RoleAction">
		<property name="roleService" ref="roleService" />
	</bean>
	
</beans>
